<h1>{{ onlineGame && onlineGame.privateGame ? 'Online Game Code: ' + onlineGame.onlineGameCode : '' }}</h1>
<div *ngIf="playerData">
    Player List:
    <ul>
        <li *ngFor="let player of playerData">
            {{ player.id }}
        </li>
    </ul>
</div>
<app-playspace
    (amHostEmitter)="receiveAmHost($event)"
    (playerDataEmitter)="receivePlayerData($event)"
    (onlineGameEmitter)="receiveOnlineGameData($event)"
    [saveGameStateEmitter]="saveGameStateEmitter"
    [getAllSavedGameStatesEmitter]="getAllSavedGameStatesEmitter"
    [mainHostID]="mainHostID"
    [onlineGameID]="onlineGameID"
></app-playspace>
<div *ngIf="middleware.isLoggedIn()">
    <div class="btn btn-primary" (click)="getAllSavedGameStates()">Get Saved Games</div>
    <div class="btn btn-primary" (click)="saveGameState()">Save Game</div>
    <div class="btn btn-primary" (click)="deleteAllSaves()">Delete All Saves</div>
</div>