.columnContainer {
    display: flex;
    column-count: 3;

    .leftSidebar {
        width: 22%;
        min-width: 250px;

        .leftSidebarContent {
            min-width: 230px;
            margin: 10px;

            .playerList {
                background-color: #363636;
                color: white;
                margin-bottom: 10px;
            }
    
            .saveButtonsContainer {
                display: flex;
                flex-direction: column;
                background-color: #363636;
    
                div {
                    width: 70%;
                    margin-left: 15%;
                    margin-bottom: 10px;
                }
            }
        }        
    }

    app-playspace {
        margin-top: 10px;
    }

    .rightSidebar {
        width: 22%;
        min-width: 250px;

        .rightSidebarContent {
            min-width: 230px;
            margin: 10px;
            height: 100%;

            .chatContainer {
                background-color: #363636;
                color: white;
                height: 80%;
            }
        }


    }
}
