<!-- Any component that we are routing to will be displayed within the router-outlet tags -->
<!-- So essentially what we have is in `index.html` an `app-root` selector, which pulls in `app.component.html`, which contains the `router-outlet`, which will display routed-to content -->
<mat-toolbar color = "primary">
    <mat-toolbar-row>
        <h1>
            GameFlex
        </h1>
        <a mat-button routerLink="/playspace">Play Space</a>
        <a mat-button routerLink="/deckFinder">Find or Create Deck</a>
        <a mat-button routerLink="/gameInstance">Game Instance</a>
        <a mat-button routerLink="/deckEditor">Deck Editor</a>
        <a mat-button routerLink="/gameBrowser">Game Browser</a>
        <a mat-button routerLink="/joinByCode">Join By Code</a>
        <span class="spacer"></span>
        <a *ngIf="!isLoggedIn" mat-button routerLink="/signup">Sign up</a>
        <a *ngIf="!isLoggedIn" mat-button routerLink="/login">Login</a>
        <a *ngIf="isLoggedIn" mat-button routerLink="/changepassword">Change Password</a>
        <a *ngIf="isLoggedIn" mat-button (click)="signOut()">Logout</a>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
