@import '../main.scss';

h1 {
    margin-right: 10px;
}

mat-toolbar {
    background-color: $themePurple;
    color: white;
}

a:hover {
    color: white;
    background-color: $themeDarkestGray;
    text-decoration: none;
}