<!-- Any component that we are routing to will be displayed within the router-outlet tags -->
<!-- So essentially what we have is in `index.html` an `app-root` selector, which pulls in `app.component.html`, which contains the `router-outlet`, which will display routed-to content -->
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>
            GameFlex
        </h1>
        <a class="headerButtons" mat-button routerLink="/playspace">Play Space</a>
        <button mat-button routerLink="/deckEditor">Deck Editor</button>
        <button mat-button routerLink="/configeditor">Config Editor</button>
        <button mat-button routerLink="/gameBrowser">Game Browser</button>
        <span class="spacer"></span>
        <a *ngIf="!isLoggedIn" class="headerButtons" mat-button routerLink="/signup">Sign up</a>
        <a *ngIf="!isLoggedIn" class="headerButtons" mat-button routerLink="/login">Login</a>
        <a *ngIf="isLoggedIn" class="headerButtons" mat-button routerLink="/changepassword">Change Password</a>
        <a *ngIf="isLoggedIn" class="headerButtons" mat-button (click)="signOut()">Logout</a>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>