<!-- Any component that we are routing to will be displayed within the router-outlet tags -->
<!-- So essentially what we have is in `index.html` an `app-root` selector, which pulls in `app.component.html`, which contains the `router-outlet`, which will display routed-to content -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="wrapper">
    <fa-icon [icon]="faBars" size="2x" (click)="toggleMenu()"></fa-icon>
    <div class="toolbar">
        <h1>
            GameFlex
        </h1>
        <a mat-button routerLink="/gameInstance">Game Instance</a>
        <a mat-button routerLink="/deckEditor">Deck Editor</a>
        <a mat-button routerLink="/configeditor">Config Editor</a>
        <a mat-button routerLink="/gameBrowser">Game Browser</a>
        <a mat-button routerLink="/joinByCode">Join By Code</a>
        <span class="spacer"></span>
        <a *ngIf="!isLoggedIn" mat-button routerLink="/signup">Sign up</a>
        <a *ngIf="!isLoggedIn" mat-button routerLink="/login">Login</a>
        <a *ngIf="isLoggedIn" mat-button routerLink="/changepassword">Change Password</a>
        <a *ngIf="isLoggedIn" mat-button (click)="signOut()">Logout</a>
    </div>
</div>
<div (click)="toggleMenu()" class="toolbarMobile">
    <a mat-button routerLink="/gameInstance">Game Instance</a>
    <a mat-button routerLink="/deckEditor">Deck Editor</a>
    <a mat-button routerLink="/configeditor">Config Editor</a>
    <a mat-button routerLink="/gameBrowser">Game Browser</a>
    <a mat-button routerLink="/joinByCode">Join By Code</a>
    <a *ngIf="!isLoggedIn" mat-button routerLink="/signup">Sign up</a>
    <a *ngIf="!isLoggedIn" mat-button routerLink="/login">Login</a>
    <a *ngIf="isLoggedIn" mat-button routerLink="/changepassword">Change Password</a>
    <a *ngIf="isLoggedIn" mat-button (click)="signOut()">Logout</a>
</div>
<router-outlet></router-outlet>
