<mat-card>
    <h1 class="center">Create New Deck:</h1>
    <div>
        <input matInput #deckName placeholder="deck name" required />
    </div>
    <button mat-button (click)="createDeck(deckName.value)">Go!</button>
    <h1 class="center">Find Exisiting Deck:</h1>
    <div>
        <input matInput #existingDeckName placeholder="deck name" required />
    </div>
    <div>
        <button mat-button (click)="findExistingDeck(existingDeckName.value)">Go!</button>
    </div>
    <div #errorsDiv id="errorsDiv"></div>
</mat-card>