span:hover {
    cursor: pointer;
 }

 .stdThumbnail {
    width: 100px;
    height: 140px;
 }

 .lrgThumbnail {
    position: absolute;
    z-index: 999;
    width: 300px;
    height: 420px;
}

#deleteIconDisplay {
    cursor: pointer;
}