span:hover {
    cursor: pointer;
 }

 .stdThumbnail {
    width: 100px;
    height: 140px;
 }

 .lrgThumbnail {
    position: absolute;
    z-index: 999;
    width: 300px;
    height: 420px;
}


#loadingText {
    color: black;
    display: inline-block;
    margin-top: 10%;
    margin-left: 35%;
    margin-bottom: 10%;
    font-size: 64px;
}