<mat-card>
    <h1 class="center">Create New Deck:</h1>
    <div>
        <input matInput #newDeckName placeholder="deck name" required />
    </div>
    <div>
        <button mat-button (click)="createDeck(newDeckName.value)">Go!</button>
    </div>
    <div #errorsDiv id="errorsDiv"></div>


    <!--<button class="btn btn-primary center" mat-button (click)="createDeck()">Create Deck</button>
    -->

</mat-card>

<!-- <app-deck-list></app-deck-list> -->
    <h1>Your Decks</h1>
        <ul>
            <li *ngFor="let deckData of deckList$" >
                {{deckData.deckName}}&nbsp;&nbsp;
                <span (click)="editDeck(deckData.deckName)">Edit Deck</span>&nbsp;
                <span (click)="deleteDeck(deckData.deckName)">Delete Deck</span>
              </li>
        </ul>  

<div style="text-align:center; margin-top: 100px; "><mat-card style="margin-top:10px; width: 50%;">  
    <mat-card-content>  
        <ul>  
            <li *ngFor="let file of files">  
                <mat-progress-bar [value]="file.progress"></mat-progress-bar>  
                <span id="file-label">  
                      
                </span>  
            </li>  
        </ul>
    </mat-card-content>  
</mat-card>
