@import '../../main.scss';
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
#errorsDiv {
    color: #ff4d4d;
}

mat-card {
    margin: 10px;
    background-color: $themeDarkGray;
    color: white;

    mat-card-content {
        background-color: $themeDarkGray;

        input {
            color: white;
            background-color: $themeGray;
        }
    }

    li{
        display: flex;

        div{
            padding-top: 15px;
            width: 150px;
            overflow-wrap: break-word;
            word-wrap: break-word;
            hyphens: auto;
        }
    }

    button {
        color: white;
        background-color: $themePurple;
        border: none;
        margin-top: 10px;
    }

    button:focus {
        border: none;
        box-shadow: none;
    }

    button:hover {
        background-color: $themeDarkestGray;
        border: none;
    }
}

mat-toolbar {
    background-color: $themeDarkGray;
    color: white;
}