@import '../../main.scss';
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
#errorsDiv {
    color: #ff4d4d;
}

mat-card {
    margin: 10px;
    background-color: $themeDarkGray;
    color: white;

    mat-card-content {
        background-color: $themeDarkGray;

        input {
            color: white;
            background-color: $themeGray;
        }
    }

    li {
        display: flex;

        div{
            padding-top: 15px;
            width: 150px;
            overflow-wrap: break-word;
            word-wrap: break-word;
            hyphens: auto;
        }
    }

    button {
        color: white;
        background-color: $themePurple;
        border: none;
        margin-top: 10px;
    }

    button:focus {
        border: none;
        box-shadow: none;
    }

    button:hover {
        background-color: $themeDarkestGray;
        border: none;
    }
}

mat-toolbar {
    background-color: $themeDarkGray;
    color: white;
}

@media (max-width: 1014px) {
    mat-card {
        text-align: center;

        h1 {
            width: 70%;
            margin: auto;
            border-bottom: 1px solid white;
        }

        button {
            width: 85px;
            font-size: 18pt;
            padding: 7px;
        }

        input {
            margin-top: 10px;
        }

        ul {
            width: 70%;
            margin: auto;

            li {
                border-bottom: 1px solid white;
                display: flex;
                flex-direction: column;
                font-size: 18pt;

                .deckName {
                    width: 100%;
                    text-align: center;
                }
                
                .buttonContainer {
                    display: flex;
                    flex-direction: row;
                    width: 175px;
                    margin: auto;
                }
            }
        }
    }
}