<mat-card>
    <button class="btn btn-primary center" mat-button (click)="createDeck()">Create Deck</button>
    <h1 class="center">Find Exisiting Deck:</h1>
    <div>
        <input matInput #existingDeckName placeholder="deck name" required />
    </div>
    <div>
        <button mat-button (click)="findExistingDeck(existingDeckName.value)">Go!</button>
    </div>
    <div #errorsDiv id="errorsDiv"></div>
</mat-card>
<app-file-list></app-file-list>
<div style="text-align:center; margin-top: 100px; "><mat-card style="margin-top:10px; width: 50%;">  
    <mat-card-content>  
        <ul>  
            <li *ngFor="let file of files">  
                <mat-progress-bar [value]="file.progress"></mat-progress-bar>  
                <span id="file-label">  
                      
                </span>  
            </li>  
        </ul>  
    </mat-card-content>  
</mat-card>
