@import '../../main.scss';

.divider {
    width: 5px;
    height: auto;
    display: inline-block;
}

mat-card {
    margin: 10px;
}

mat-toolbar {
    background-color: $themeDarkGray;
    color: white;
}