<div mat-dialog-content>
    <p>Please Enter a Name for the Counter:</p>
    <input matInput #counterNameInput type="text" placeholder="Name" required />
    <p>Default Counter Value:</p>
    <input matInput #counterValueInput type="number" placeholder="Default Value" value="0" />
</div>
<div #errorsDiv id="errorsDiv"></div>
<div class="actions" mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="submit(counterNameInput.value, counterValueInput.value)" value="Submit">Submit</button>
</div>
