#deckDisplayContainer{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

#deleteIconDisplay{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.actions{
    margin-bottom: 15px;
}