<h1>Your Deck</h1>
<div id = "deckDisplayContainer">
    <div id="loadingText">Loading...</div>
</div>
<app-file-list
[deckNameEmitter] = "deckNameEmitter"
></app-file-list>

<h1 class="cardStagingList" *ngIf="files.length>0">Cards to Upload</h1>
<ul>
    <li *ngFor="let fileObject of files" >
        {{fileObject.data.name}}&nbsp;&nbsp;
        <span (click)="removeStagedCard(fileObject.data)">Remove</span>
    </li>
</ul> 

<div class="actions" mat-dialog-actions>
    <button mat-button (click)="cancel()">Close</button>
    <button mat-button (click)="upload()">Upload Files</button>
    <button mat-button (click)="submit()" value="Submit">Confirm</button>
</div>
<input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" />


