@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700&display=swap');

$themePurple: #883988;
$themeLightGray: lightgrey;
$themeGray: gray;
$themeKindOfDarkGray: #4b4a4a;
$themeDarkGray: #363636;
$themeDarkestGray: #1f1f1f;
$themeError: #ff4d4d;

$turquoise: #44ddd0;
$blue: #276dd7;
$dark-blue: #1985e4;
$danger: #e27e7e;

$light: #f4f4f4;

$family-sans-serif: "Nunito", "sans-serif";
$primary: $blue;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

html, body {
    background-color: $themeDarkestGray;
    font-family: 'Nunito';
}

.white-text {
    color: white;
}

.title {
    color: white;
    font-family: "Lato";
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.model-box {
    min-height: 200px;
    width: 100%;
    max-width: 580px;
    background: #201d1d;
    border-radius: 5px;
    padding: 35px;
}

.has-background-light {
    background: $light;
}

.is-primary {
    background: $primary;
}

// OUR STYLES

mat-card {
    background-color: $themeDarkGray;
    color: white;
}

::ng-deep.mat-dialog-container {
    background-color: $themeDarkGray;
    color: white;

    .mat-select-value {
        padding: 15px;
        color: white;
    }

    .mat-select-placeholder {
        color: white;
    }

    .mat-select-trigger {
        border: 1px solid white;
    }

    select {
        background-color: $themeGray;
        color: white;
    }

    button {
        color: white;
        background-color: $themePurple;
        border: none;
        margin-bottom: 10px;
        transition: background-color 0.5s ease;
    }
    
    button:focus {
        color: white;
        background-color: $themePurple;
        border: none;
        box-shadow: none;
    }
    
    button:hover {
        color: white;
        background-color: $themeDarkestGray;
        border: none;
    }
    
    button:active {
        color: $themePurple;
    }
    
    input {
        background-color: $themeGray;
        color: white;
    }

    ::placeholder {
        color: white;
    }

    p {
        margin-bottom: 0;
    }

    button, input, select {
        margin-bottom: 10px;
    }
}

button {
    color: white;
    background-color: $themePurple;
    border: none;
    margin-bottom: 10px;
    transition: background-color 0.5s ease;
}

button:focus {
    color: white;
    background-color: $themePurple;
    border: none;
    box-shadow: none;
}

button:hover {
    color: white;
    background-color: $themeDarkestGray;
    border: none;
}

button:active {
    color: $themePurple;
}

input {
    background-color: $themeGray;
    color: white;
}

select {
    background-color: $themeGray;
    color: white;
}

::placeholder {
    color: white;
}