.loadHeader {

    // background-color:  #883988;
    border-bottom: 5px #883988;
    color: white;
}

.loadCardsMain {
    background-color: white !important;
}

.deckcontainer {
    border: 5px grey;
    border-radius: 10px;
    margin-top: 10px;
}

.viewButton {
    // border: 5px black;
    color: white;
    background-color: #883988;
    border-radius: 10px;
    height: 70%;
}

mat-card {
    padding: 0;
    margin-left: 5%;
    background-color: #1f1f1f;
}