<mat-toolbar>
    <span>Change Password</span>
</mat-toolbar>
<mat-card ckass="change-card">
    <mat-card-content>
        <form #changePWDForm="ngForm">
            <div>
                <label for="previousPassword">Previous Password:</label>
                <input required (ngModel)="previousPassword" name="previousPassword" #previousPassword="ngModel" id="previousPassword" class="form-control" type="password">

            </div>
            <div>
                <label for="newPassword">New Password:</label>
                <input required (ngModel)="newPassword" name="newPassword" #newPassword="ngModel" id="newPassword" class="form-control" type="password">

            </div>
            <div>
                <label for="confirmPassword">Confirm New Password:</label>
                <input required (ngModel)="confirmPassword" name="confirmPassword" #confirmPassword="ngModel" id="confirmPassword" class="form-control" type="password">

            </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="onSubmit(changePWDForm)" type="button submit" class="btn btn-primary">Change</button>
    </mat-card-actions>
</mat-card>