<h1>Config id - {{configuration._id}}</h1>
<div class="columnContainer">
    <div class="leftSidebar">
        <div class="leftSidebarContent">
            <app-counter
                (counterActionOutputEmitter)="receiveCounterAction($event)"
                [counterActionInputEmitter]="sendCounterActionEmitter"
            >
            </app-counter>
            <mat-card class="createObjectContainer">
                <h3>Create Object</h3>
                <div class="buttonsContainer">
                    <button class="btn" (click)="initDeck()">Create Deck</button>
                </div>
            </mat-card>
            <mat-card class="configContainer">
                <h3>Configuration Options</h3>
                <div class="buttonsContainer">
                    <button class="btn" (click)="saveConfig()">Save Configuration</button>
                    <button class="btn" (click)="updateConfig()">Update Configuraiton</button>
                    <button class="btn" (click)="deleteConfig()">Delete Configuration</button>
                    <button class="btn" (click)="getConfig(configIdInput.value)">Get a Configuration</button>
                    <input #configIdInput type="text" placeholder="Game Id">
                </div>
            </mat-card>
        </div>
    </div>
    <div id="configEditorContainer" oncontextmenu="return false;"></div>
    <div class="rightSidebar">
        <div class="rightSidebarContent">
            <mat-card class="chatContainer">
                <p>Chat</p>
            </mat-card>
        </div>
    </div>
</div>