@import '../../main.scss';

mat-card {
    background-color: $themeDarkGray;
    color: white;

    h3 {
        text-align: center;
    }

    .counterDiv {
        width: 100%;
        display: flex;
        flex-direction: column;

        .counterHeader {
            label {
                margin-bottom: 0px;
            }
            fa-icon {
                float: right;
                cursor: pointer;
                transition: color 0.5s ease;
            }
            fa-icon:hover {
                color: $themeError;
            }
            border-bottom: 1px solid $themeLightGray; 
            font-size: 24px;
            margin-bottom: 10px;
        }

        input {
            background-color: $themeLightGray;
            width: 100%;
            height: 35px;
        }
    }
}

button {
    width: 60%;
    margin-left: 20%;
    color: white;
    background-color: $themePurple;
    border: none;
    margin-bottom: 10px;
}

button:focus {
    color: white;
    background-color: $themePurple;
    border: none;
    box-shadow: none;
}

button:hover {
    color: white;
    background-color: $themeDarkestGray;
    border: none;
}
